.gradient {
  background: --background;
  background: linear-gradient(0deg, #DFCCDB 0%, #ffe3ee 30%);
}

.gradientReverse {
  background: --background;
  background: linear-gradient(180deg, #DFCCDB  0%, #ffe3ee 70%);
}

.solutionDescription p {
  font-size: 16px;
}

.solutionDescription ul {
  padding-top: 10px;
  padding-left: 30px;
  list-style-type: disc;
}

.solutionDescription li {
  margin-bottom: 5px;
}

.solutionDescription br {
  display: block;
  margin-bottom: 10px;
}
